/*Começo do header*/
html, body {
    overflow-x: hidden;
}
.container-fluid {
	padding:0;
}
.header {
	background-color: rgba(131, 241, 169, 0.4);
	box-shadow: 1px 3px 3px #888888;
}
.nav-item {
	margin-right: 15px;
}
.navbar-nav {
	margin-right: 65%;
}
.row {
	margin:0;
}
#barra {
	background-image: linear-gradient(to right, #005100, #83f1a9);
	box-shadow: 1px 3px 3px #888888;
	text-decoration: none;
}

#pesquisa {
	margin-top: 10px;
	width: 100%;
	border-radius: 10px;
	opacity: 0.7;
	padding-left: 5px;
	font-family: Arial, FontAwesome;
}

.filtros {
	margin-top: -10px;
}

#buscar {
	margin-right: -5px;
	margin-left: 5px;
}

#btnBuscar {
	width: 100%;
	margin-top: 14px;
	margin-left: -5px;
}
/*Fim do header*/