/*Começo do header*/
html, body {
    overflow-x: hidden;
}
.container-fluid {
	padding:0;
}
.header {
	background-color: rgba(131, 241, 169, 0.4);
	box-shadow: 1px 3px 3px #126717;
}
.barraNavegacao {
	margin-right: 15px;
	text-decoration: none;
	color: white;
}
.navbar-nav {
	margin-right: 60%;
}
.row {
	margin:0;
}
#barra {
	background-image: linear-gradient(to right, #005100, #83f1a9);
	box-shadow: 1px 3px 3px #888888;
	text-decoration: none;
}

#pesquisa {
	margin-top: 10px;
	width: 100%;
	border-radius: 10px;
	opacity: 0.7;
	padding-left: 5px;
	font-family: Arial, FontAwesome;
}

.filtros {
	margin-top: -10px;
}

#buscar {
	margin-right: -5px;
	margin-left: 75px;
}

#btnBuscar {
	width: 100%;
	margin-top: 14px;
	margin-left: -5px;
}

.icone {
	width: 120px;
	margin-left: 40px;
}

.nomeUser {
	font-size: 24px;
	text-align: center;
	color: white;
	padding-bottom: 10px;
}

.iconeUser{
	margin-left: 30px;
}
/*Fim do header*/

/*Começo do rodapé*/
.rodape {
	background-color: rgba(128, 128, 128, 0.5);
	padding: 20px;
	margin:0;
}
.links{
	margin-top: 20px;
}
.barraRodape {
	text-decoration: none;
	color: black;
	border-right: 1px solid black;
}
.barraRodape:hover{
	color: green;
}
.barraRodapeUltimo {
	text-decoration: none;
	color: black;
}
.barraRodapeUltimo:hover{
	color: green;
}
.direitos {
	text-align: center;
}
/*Fim do rodapé*/

/*Começo do cadastro*/
.cadastro{
	background-color: rgba(131, 241, 169, 0.1);
	margin-top: -12px;
	box-shadow: 1px 3px 3px #888888;
	padding: 10px;
}
.titulo {
	color: #126717;
	padding: 10px;
}
.dadosUsuario {
	width: 55%;
	margin-left: 22.5%;
	margin-bottom: 20px;
}
.linha{
	margin-top: 10px;
}
#botoesForm{
	margin-top: 15px;
}
/*Fim do cadastro*/

/*Começo do login*/
.infosLogin{
	text-align: center;
}

.dadosUsuarioLogin {
	width: 45%;
	margin-left: 27.5%;
	margin-bottom: 20px;
}
#botaoLogin {
	margin-top: 20px;
}
/*Fim do login*/

/*Começo do visualizarEPIs*/
.rotulo {
	color: green;
}

#visao {
	margin-bottom: 30px;
}

#botao1 {
	margin-right: 15px;
}

#comentario {
	background-color: white;
}

.verEPI {
	background-color: rgba(79, 178, 102, 0.4);
}

.tituloEPI {
	box-shadow: 2px 3px 0px green;
}

.segundaLinha {
	padding: 10px;
}

#comentario {
	border-right: 1px solid black;
	background-color: transparent;
}

.scrolar {
	padding: 20px;
	overflow: auto;
	width: 100%;
	height: 160px;
	margin-left: 10px;
}

.itemComentario{
	border: 1px dotted #075A09;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 2px;
}
/*Fim do visualizarEPIs*/

/*Começo da sidebar*/
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 3px 3px black;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #53B66B;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.MTE {
	background-color: rgba(130, 137, 132, 0.5);
}

.cardsItens{
	margin-left: 10%;
}

.areaUsuario {
	border-radius: 5px;
	box-shadow: 1px 3px 3px black;
}