/*Começo do header*/
html, body {
    overflow-x: hidden;
}
.container-fluid {
	padding:0;
}
.header {
	background-color: rgba(131, 241, 169, 0.4);
	box-shadow: 1px 3px 3px #888888;
}
.barraNavegacao {
	margin-right: 15px;
	text-decoration: none;
	color: white;
}
.navbar-nav {
	margin-right: 65%;
}
.row {
	margin:0;
}
#barra {
	background-image: linear-gradient(to right, #005100, #83f1a9);
	box-shadow: 1px 3px 3px #888888;
	text-decoration: none;
}

#pesquisa {
	margin-top: 10px;
	width: 100%;
	border-radius: 10px;
	opacity: 0.7;
	padding-left: 5px;
	font-family: Arial, FontAwesome;
}

.filtros {
	margin-top: -10px;
}

#buscar {
	margin-right: -5px;
	margin-left: 5px;
}

#btnBuscar {
	width: 100%;
	margin-top: 14px;
	margin-left: -5px;
}
/*Fim do header*/

/*Fim do rodapé*/
.rodape {
	background-color: rgba(128, 128, 128, 0.5);
	padding: 20px;
}
.links{
	margin-top: 20px;
}
.barraRodape {
	text-decoration: none;
	color: black;
	border-right: 1px solid black;
}
.barraRodapeUltimo {
	text-decoration: none;
	color: black;
}
.direitos {
	text-align: center;
}