/*Começo do header*/
html, body {
    overflow-x: hidden;
}
.container-fluid {
	padding:0;
}
.header {
	background-color: rgba(131, 241, 169, 0.4);
	box-shadow: 1px 3px 3px #126717;
}
.barraNavegacao {
	margin-right: 15px;
	text-decoration: none;
	color: white;
}
.navbar-nav {
	margin-right: 65%;
}
.row {
	margin:0;
}
#barra {
	background-image: linear-gradient(to right, #005100, #83f1a9);
	box-shadow: 1px 3px 3px #888888;
	text-decoration: none;
}

#pesquisa {
	margin-top: 10px;
	width: 100%;
	border-radius: 10px;
	opacity: 0.7;
	padding-left: 5px;
	font-family: Arial, FontAwesome;
}

.filtros {
	margin-top: -10px;
}

#buscar {
	margin-right: -5px;
	margin-left: 5px;
}

#btnBuscar {
	width: 100%;
	margin-top: 14px;
	margin-left: -5px;
}
/*Fim do header*/

/*Começo do rodapé*/
.rodape {
	background-color: rgba(128, 128, 128, 0.5);
	padding: 20px;
	margin:0;
}
.links{
	margin-top: 20px;
}
.barraRodape {
	text-decoration: none;
	color: black;
	border-right: 1px solid black;
}
.barraRodape:hover{
	color: green;
}
.barraRodapeUltimo {
	text-decoration: none;
	color: black;
}
.barraRodapeUltimo:hover{
	color: green;
}
.direitos {
	text-align: center;
}
/*Fim do rodapé*/

/*Começo do cadastro*/
.cadastro{
	background-color: rgba(131, 241, 169, 0.1);
	margin-top: -12px;
	box-shadow: 1px 3px 3px #888888;
	padding: 10px;
}
.titulo {
	color: #126717;
	padding: 10px;
}
.dadosUsuario {
	width: 55%;
	margin-left: 22.5%;
	margin-bottom: 20px;
}
.linha{
	margin-top: 10px;
}
#botoesForm{
	margin-top: 15px;
}
/*Fim do cadastro*/

/*Fim do login*/
#nomeUsuario{
	text-align: center;
}
#senha{
	text-align: center;
}
.dadosUsuarioLogin {
	width: 45%;
	margin-left: 27.5%;
	margin-bottom: 20px;
}
#botaoLogin {
	margin-top: 20px;
}